
#about-page {
    padding: 0 0 50px 0;
}

.about-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
    background-color: #1f2937;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, .9);
    border-radius: 14px;
    padding: 0 0 20px 0;
}

.about-section span {
    font-size: 1.3em;
    cursor: pointer;
}

.about-section span:hover {
    font-weight: bold;
}

.about-title {
    padding: 50px 0 50px 0;
}



.info-section p {
    line-height: 40px;
    padding: 25px;
}
.info-section {
    padding: 10px 5px 100px 5px;
    font-size: 1.5em;
    width: 75%;
}



