
#experience-page {
    margin: 50px;
    padding-bottom: 100px;
}


.experience-box-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.experience-box-lg, .experience-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    background-color: #1f2937;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, .9);
    border-radius: 14px;
    color: white;
    margin: 15px;
}

.experience-box-lg {
    width: 800px;
}

.experience-box {
    width: 450px;
}

.dropdown {
    max-height: 15vh;
    transition: 0.3s;
}

.dropdown-features {
    overflow: hidden;
    max-height: 250vh;
    opacity: 100%;
    transition: 2.5s;
}

.dropdown-btn {
    border: 2px solid #2A384B;
    display: inline-block;
    padding: 5px 8px;
    margin: 30px auto 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s;
}

.dropdown-btn:hover {
    background-color: #2A384B;
}

.hide {
    max-height: 0vh;
    opacity: 0;
    transition: 0.3s;
}

.experience-box:hover, .experience-box-lg:hover {
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.fw-logo {
    margin: 15px auto 20px auto;
}

#angular-logo {
    margin-top: 25px;
}


.experience-box h3, .experience-box-lg h3 {
    color: white;
    font-weight: bold;
}

.experience-box h4 {
    text-decoration: underline;
}

.features-list, .features-list-lg {
    margin-top: 20px;
    text-align: left;
}

.features-list-lg li {
    margin: 25px 15px 30px 15px;
    font-weight: bold;
}

.features-list li {
    margin: 25px 0 30px 0;
    font-weight: bold;
}


.experience-box a, .experience-box-lg a {
    text-decoration: none;
    color: lightgray;
    font-size: 18px;
    transition: .3s;
}

.experience-box a:hover, .experience-box-lg a:hover {
    color: white;
    font-weight: bold;
}

.hidden {
    display: none;
}

.experience-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 75px 0 0 0;
    background-color: #1f2937;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, .9);
    border-radius: 14px;
    color: white;
}

.experience-bottom:hover {
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.experience-bottom h2 {
    text-decoration: underline;
}

.experience-bottom p {
    text-align: center;
    margin: 10px 15px 10px 15px;
    font-size: 1.3em;
}

.experience-bottom a {
    text-decoration: none;
    color: lightgray;
}

.experience-bottom a:hover {
    font-weight: bold;
    color: white;
}






