#experience-page {
    margin: auto;
    padding: 25px 10px 50px 10px;
    width: 100%;
}

.experience-top {
    position: relative;
    right: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 15px;
    margin: 0 auto 75px auto;
    background-color: #1f2937;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, .9);
    border-radius: 14px;
    color: white;
}

.intern-desc {
    padding-bottom: 75px;
}

.experience-top:hover {
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.experience-top h3 {
    color: white;
    text-align: center;
}

.experience-top p {    
    color: #9ca3a4;
    text-align: center;
    margin: 10px 15px 10px 15px;
    font-size: 1.3em;
    line-height: 35px;
}

.experience-top a {
    text-decoration: none;
    color: #9ca3a4;
}

.experience-top a:hover {
    font-weight: bold;
    color: white;
}

.experience-box-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.experience-box-section li { 
    color: #9ca3a4;
}

.experience-box-lg {
    display: flex;
    flex-direction: column;
    width: 80vw;
    text-align: center;
    padding: 15px;
    background-color: #1f2937;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, .9);
    border-radius: 14px;
    color: white;
    margin: 15px auto 50px auto;
    scroll-margin-top: 30px; /*Scrolls 30px above when scrollIntoView() is used.*/
}

.experience-box-lg {
    color: white;
    font-weight: bold;
}

.experience-box-lg h3 {
    color: white;
    font-weight: bold;
}

.dropdown-btn {
    border: 2px solid #2A384B;
    margin: 50px auto 75px;
    padding: 5px 8px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s;
}

.dropdown-btn:hover {
    background-color: #2A384B;
}

.dropdown {
    text-align: left;
    max-height: 1000vh;
    overflow: hidden;
    transition: 1.3s;
}

.features-list li {
    margin: 30px 20px;
    font-weight: bold;
}

.hide {
    max-height: 0;
    opacity: 0;
    transition: .3s;
}

.proj-link {
    text-decoration: none;
    color: lightgray;
    font-size: 18px;
    transition: .3s;
    margin: 10px auto 10px auto;
    width: fit-content;
}

.proj-link:hover {
    color: white;
    font-weight: bold;
}

.experience-box-sm {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 80vw;
    margin: 15px 15px 50px 15px;
    color: white;
    padding: 15px;
    background-color: #1f2937;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, .9);
    border-radius: 14px;
    text-align: center;
    height: 100%;
    scroll-margin-top: 30px; /*Scrolls 30px above when scrollIntoView() is used.*/
}

.fw-logo {
    margin: 15px auto 20px auto;
}

#angular-logo {
    margin-top: 25px;
}


@media (max-width: 767px) {
    .experience-top {
        width: 100%;
    }

}
