



#home-page {
    padding: 125px 0 100px 0;
}

.title {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    justify-content: flex-end;
}

.title h1, h3 {
    padding: 25px 0 25px 0;
    color: #4a4a4a;
}

.title h1{
    font-size: 3em;
}

.title h3{
    font-size: 2em;
}

.icons {
    margin: auto 0 auto auto;
    padding: 50px;
}

.icons span {
    padding: 30px;
    cursor: pointer;
}

.intro {
    display: flex;
    flex-direction: column;
    padding: 150px 0 100px 0;
    font-size: 2.5em;
    text-align: center;
    
}


.qualities {
    text-align: center;
    color: #4a4a4a;
}


.qualities span {
    display: inline-block;
    padding: 100px;
    text-align: center;
}




.button:hover {
    text-decoration: underline;
    font-weight: bold;
}

strong {
    font-size: 1.1em;
}





@media screen and (max-width: 991px) {
    .title {
        justify-content: center;
        text-align: center;
    }

    .icons {
        margin: auto 0 auto 0;
    }

    .icons span {
        padding: 8px;
    }

    .intro {
        padding: 50px 0 25px 0;
    }

    .qualities span {
        padding: 50px;
    }
}
